@media screen and (max-width: 576px) {
    .nav-container {
       flex-direction: column;
      
    }
    .nav-item-container {
        flex-direction: column;
       
    }
    .nav-item-container a{
        margin-top: 36px;
    }
}













@media screen and (min-width: 576px) and (max-width: 768px) {
    .nav-item-container a {
        margin-right: 20px;
    }
}