* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* nav section style here.. */


.nav-container {
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container {
    display: flex;
    gap: 20px;
    width: 50%;
}


.logo-container .font-style {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.logo-container h1 {
    color: #0B0223;
    font-size: 2.2rem;
    font-weight: 700;

}

.nav-item-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item-container a {
    text-decoration: none;

}

.nav-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 18px;
    border: 0;
}

.nav-btn .fa-youtube {
    color: #F61C0D;
    ;
}

/* nav section style end here */

/* banner section style start here */

.banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.banner-headline {
    color: #0B0223;
    font-size: 2.6rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-tittle {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.game-feture {
    display: flex;
    align-items: center;
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
    gap: 5px;
    margin-bottom: 10px;
}

.signin-btn {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 0;
    margin-top: 20px;
    margin-right: 30px;
}

.play-btn {
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 30px;
    border: 0;
    margin-top: 20px;
}




/* banner section style end here */